<div class="full-width">
  <button #button mat-raised-button color="primary" cdkOverlayOrigin #trigger="cdkOverlayOrigin" (click)="isOpen = !isOpen">Trigger Overlay</button>
</div>


<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
  [cdkConnectedOverlayPositionStrategy]="positionStrategy"

>
<div class="content">
<div class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. </div>
  <ul>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
  </ul>
</div>
</ng-template>
